/*-----------------------------------------CSS Plantilla----------------------------------------*/
/*.header {
    background: #000;
    padding: 1.5% 0;
}

.header-left {
    float: left;
    width: 59%;
}

.logo {
    float: left;
    margin-right: 2%;
    max-height: 100px;
    max-width: 100px;
}

.menu {
    float: left;
    margin: 17px 0 0;
}

    .menu li {
        display: inline-block;
    }

        .menu li:first-child {
            margin-left: 0;
        }

        .menu li a {
            display: block;
            font-size: 0.8125em;
            text-transform: uppercase;
            padding: 5px 20px;
            color: #FFF;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            font-weight: 600;
        }

            .menu li a:hover, .menu li.active a {
                background: #fff;
                color: #000;
            }

section.navbar{
	margin-bottom:0;
}
.navbar-inner.main-menu {	
	height: 40px;
	padding-left:10px;	
	padding-right:0;	
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom:5px solid #eb4800;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	border-radius: 0;
	filter: none;	
}
.navbar-inner.main-menu a.logo{
	position:absolute;
}
.navbar-inner.main-menu ul ul a{
	font-size:13px;
	font-weight:normal;
	line-height:17px;
	text-transform: none;
}*/

/*#menu > ul {
    display: block;
    margin-left: 0;
}

    #menu > ul > li {
        list-style: none;
        float: left;
        position: relative;
        margin-right: 0;
    }

        #menu > ul > li > a {
            font-size: 11px;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            padding: 10px 14px;
        }

            #menu > ul > li.active > a {
                color: #fff;
            }

#menu ul ul {
    background: none repeat scroll 0 0 #eee;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    min-width: 170px;
    display: none;
}

#menu > ul > li > ul {
    margin-left: 10px;
    margin-top: -12px;
    border: 1px solid #ddd;
    border-top: 0;
}

#menu ul ul li {
    list-style: none outside none;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

    #menu ul ul li:last-child {
        border-bottom: none !important;
    }

    #menu ul ul li.menu-last {
        border-bottom: none;
    }

#menu ul ul a {
    display: block;
    padding: 7px 10px;
    color: #333;
    font-size: 12px;
}

#menu > ul > li:hover {
    visibility: inherit;
}

#menu li:hover {
    visibility: inherit;
}

    #menu li:hover ul,
    #menu li.sfHover ul {
        left: -10px;
        top: 52px;
        z-index: 2299;
    }

#menu li li:hover ul,
#menu li li.sfHover ul {
    left: 130px;
    top: 0;
}

#menu .sf-sub-indicator {
    display: none;
}*/

/*#nav .current a {
    color: red;
}

.toggleMenu {
    display: none;
    padding: 4px 5px 0 5px;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

@media screen and (max-width:800px) {
    .active {
        display: block;
    }

    .menu li a {
        text-align: left;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }

    .nav {
        list-style: none;
        width: 95%;
        position: absolute;
        right: 20px;
        background: #222;
        top: 72px;
        z-index: 111;
    }

        .nav:after {
            content: '';
            position: absolute;
            right: 18px;
            top: -9px;
            border-left: 10px solid rgba(0, 0, 0, 0);
            border-right: 10px solid rgba(0, 0, 0, 0);
            border-bottom: 10px solid #333;
        }

    .menu li a span.messages {
        text-align: center;
        top: 15px;
    }

    .nav li ul {
        width: 100%;
    }

    .menu ul {
        margin: 0;
    }

    .nav > li.hover > ul {
        width: 100%;
    }

    .nav > li {
        float: none;
        display: block;
    }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }

    .nav li a {
        border-top: 1px solid #333;
    }

    .nav li:first-child a {
        border-top: none;
    }
}*/
/*-----------------------------------------CSS Plantilla----------------------------------------*/


/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.text-area {
    max-width: 280px;
    resize: none;
}

.combo-box {
    max-width: 280px;
}

.contenedor {
    padding-left: 0;
    padding-right: 0;
}

.barra-superior {
    margin-bottom: 0 !important;
}

#Menu1 + div {
    clear: none !important;
}

.carritoCompra {
    padding-right: 15px;
    padding-left: 0;
}

.itemsMenu {
    padding-top: 10px;
    padding-bottom: 1px;
    text-align: center;
}

    .itemsMenu img {
        width: 40px;
        height: 40px;
    }

h1 {
    text-align: center;
}
