USE [master]
GO
/****** Object:  Database [MangaGods]    Script Date: 17/03/2017 18:23:01 ******/
CREATE DATABASE [MangaGods]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MangaGods', FILENAME = N'd:\Programacion\SQL\SQL 2014\MSSQL11.HALELUQUE\MSSQL\DATA\MangaGods.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MangaGods_log', FILENAME = N'd:\Programacion\SQL\SQL 2014\MSSQL11.HALELUQUE\MSSQL\DATA\MangaGods_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MangaGods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MangaGods]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](70) NOT NULL,
	[Edad] [int] NULL,
	[Empresa] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[Id] [nvarchar](128) NOT NULL,
	[IdCarrito] [nvarchar](max) NULL,
	[Cantidad] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdManga] [int] NOT NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetalleOrden]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrden](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrden] [int] NOT NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[IdManga] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_DetalleOrden] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genero]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](70) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manga]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](70) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[Volumen] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[IdAutor] [int] NOT NULL,
 CONSTRAINT [PK_Manga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orden]    Script Date: 17/03/2017 18:23:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaOrden] [datetime] NOT NULL,
	[NombreUsuario] [nvarchar](max) NULL,
	[PrimerNombre] [nvarchar](160) NOT NULL,
	[Apellido] [nvarchar](160) NOT NULL,
	[Direccion] [nvarchar](70) NOT NULL,
	[Ciudad] [nvarchar](40) NOT NULL,
	[Departamento] [nvarchar](40) NOT NULL,
	[CodigoPostal] [nvarchar](10) NOT NULL,
	[Pais] [nvarchar](40) NOT NULL,
	[Telefono] [nvarchar](24) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[IdTransaccionPago] [nvarchar](max) NOT NULL,
	[HaSidoEnviado] [bit] NOT NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Manga] FOREIGN KEY([IdManga])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Manga]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrden_Manga] FOREIGN KEY([IdManga])
REFERENCES [dbo].[Manga] ([Id])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK_DetalleOrden_Manga]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrden_Orden] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Orden] ([Id])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK_DetalleOrden_Orden]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Autor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Autor]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Genero] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Genero]
GO
USE [master]
GO
